@charset "UTF-8";

@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    li {
        display: inline-block;
    }

    li > a {
        border: none;
        margin-bottom: 5px;
        background-color: #048d3b;
        border-radius: 10px;
    }

    li > a:hover {
        background-color: #047430;
    }

    main {
        width: 800px;
    }
}