@charset "UTF-8";

/* CONFIGURAÇÕES EM PÉ */

html {
    background-image: url('../imagens/cev-portrait.jpg');
    
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}